<div class="panel panel-info bg-whitesmoke js-order-content">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Order summary</strong></h3>
    </div>
    <div class="alert alert-success js-content-offers" role="alert">

    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><strong>Final price</strong>:</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 js-final-price">
                <span class="js-final-price">£0</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><strong>Original price</strong>:</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 js-original-price">
                <span class="js-original-price">£0</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><strong>Saved money</strong>:</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 js-saved-money">
                <strong><span class="js-saved-money">£0</span></strong>
            </div>
        </div>
    </div>
</div>
