<div class=" panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Order your items</strong></h3>
    </div>
    <div class="panel-body bg-whitesmoke">
        <h3>Butter</h3>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-number js-remove-butter" data-type="minus" data-field="txtButterNumber">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-7">
                <input type="text" name="txtButterNumber" class="form-control input-number" disabled value="0" min="0" max="100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 text-left">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-number js-add-butter" data-type="plus" data-field="txtButterNumber">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </div>

        <h3>Bread</h3>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-number js-remove-bread" data-type="minus" data-field="txtBreadNumber">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-7">
                <input type="text" name="txtBreadNumber" class="form-control input-number" disabled value="0" min="0" max="100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-number js-add-bread" data-type="plus" data-field="txtBreadNumber">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </div>

        <h3>Milk</h3>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-number js-remove-milk" data-type="minus" data-field="txtMilkNumber">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-7">
                <input type="text" name="txtMilkNumber" class="form-control input-number" disabled value="0" min="0" max="100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-number js-add-milk" data-type="plus" data-field="txtMilkNumber">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
