@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header">Final price calculation test</h1>

<div class="row">
    <!--Container box order form-->
    <div class="col-lg-4 col-md-6 col-sm-12">
        @Html.Partial("_BoxOrderForm")
    </div>
    <!--End Container box order form-->
    <!--Container box operations buttos-->
    <div class="col-lg-4 col-md-2 col-sm-12 box-buttons">
        @Html.Partial("_BoxButtons")
    </div>
    <!--End Container box operations buttos-->
    <!--Container order box summary-->
    <div class="col-lg-4 col-md-4 col-sm-12">
        @Html.Partial("_BoxOrderSummary")
    </div>
    <!--End Container order box summary-->
</div>


@section Scripts {
    <script src="~/Scripts/OrderForm.js"></script>
}
